table.form-benefit {
  tbody {
    border: 1px solid #e5e5e5;
    background: #f7f7f7;
    padding: 20px;
    transition: all .3s ease;
    &:hover {
      box-shadow: 0px 2px 10px rgba(0,0,0,0.2)
    }
    th {
      padding-left: 20px;
    }
  }
  .btn-danger {
    margin: 20px 0;
  }
}
.btn-add-bottom {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 140px;
}